/* base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;

}

a{
  text-decoration: none;
  color: inherit;
}

.App{
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--app-pc2);
 
  justify-content: space-between;
}
body {
  font-family: 'Poppins', sans-serif;
  --app-pc1: #202225;
  --app-pc2: #2F3136;
  --app-pc3: #36393F;
  --app-pc4: #96989D;
}

p {
  color: whitesmoke ;
}

h1,
h2,
h3,
h4,
p {
  color: whitesmoke;
}

.input {
  padding: 5px 20px;
  background-color: var(--app-pc1);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: var(--app-pc4);
}

/* app */

.backdrop{
  z-index: 100 !important;
  

}

/* sidebar */

.Sidebar {
  flex: 0.3;
  display: flex;
  justify-content: flex-start;
  background-color: var(--app-pc1);
}

.sidebar-menu {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;

}

.Sidebar-item {
  margin: 0 auto;
  padding-top: 20px;
}

.Sidebar-icon {
  font-size: 3rem !important;
  color: white !important;

  flex-basis: 1;
}

.logo-container {
  border-bottom: 2px solid var(--app-pc3);
}


/* .Conversations */

.Conversations {
  flex: 1;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--app-pc2);
  color: whitesmoke;
  padding: 10px 0;
  
}

.convs-header {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 2px solid var(--app-pc1);
}

.convs-header>div {
  padding: 20px;
}

.convs-header>.input-container {
  border-bottom: 1px solid var(--app-pc1);
  margin: 0 20px;
  padding: 20px 0;
}


.conticon-container {

  display: flex;

}

.conticon-container>label {
  padding-left: 10px;

}

.convos-sec {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.convos-sec>h2 {
  padding-bottom: 10px;
}

.all-convs {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.conv-item-container {
  padding: 0 10px 10px 10px;
}

.conversations-item > .Link {  
  display: flex;
  align-items: center;
}

.convo-icon {
  font-size: 2.5rem !important;
}

.conversations-item> .Link>.convo-display {
  padding-left: 10px;
}

.link {
  text-decoration: none;
  color: aliceblue;
}



/* Conversation */

.conversation-screen {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--app-pc3);
  padding: 3px 10px;
  background-image: url("./images//background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cs-header {
  z-index: 50;
  background-color:#36393F;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  align-items: center;
  border-bottom: 1px solid var(--app-pc1);
}

.cs-displayName{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.togglebar{
  display: none !important;
   font-size: 3rem !important;
   margin-right: 20px;
   color: whitesmoke !important;
}

.user-info{
  margin: auto;
  font-size: 2rem !important;
  color: whitesmoke;
}
.cs-body{
  flex: 1;
  overflow-y: scroll;

}
.cs-body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.cs-body {
  -ms-overflow-style:none;/* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.contact-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  background-color:#36393F;
  opacity:70%;
}
.contact-info > .contact-icon{
  margin: auto;
  font-size: 5rem;
  color: whitesmoke;
}

.message{
  background-color: blue;
  max-width:50%;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px ;
  width:fit-content;
}

.mymsg{
  margin-left: auto;
}

.messages > .text-container >p{
  font-size: 1.2rem;
}


.cs-footer{

  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 10px;
  margin: 10px;
}
.sendButton{
  position:relative;
  right: 30px;
  bottom: 10px;

}
.sendbtn:hover{
  cursor: pointer;
  padding: 5px;
}
.sendbtn{
       
     font-size: 6rem !important;
     border-radius: 50%;
     padding: 10px;
     background-color: var(--app-pc4);
}

.ft-content{
  flex: 1;
  height: 80%;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #2F3136;
}
.ft-content >textarea::-webkit-scrollbar {
  display: none;
}
.ft-content > textarea {
  flex: 1 ;
  font-size: 1.2rem;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: #2F3136;
  height: auto;
  max-height: fit-content;
  resize: none;
  -ms-overflow-style:none;/* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.ft-content > .oth-fet{
  padding-right: 40px;  
}


/* 
Rightbar */

.RightInfoBar{
  position:fixed;
  height: 100%;
  width: 50%;
  z-index: 500;
  right: -100%;
  top: 0;
  background-color: #202225;
  transition: 850ms;
  padding: 20px;
}

.RightInfoBar.active{
  right: 0;
  transition: 350ms;
}

/* mobile response */

@media only screen and (max-width: 501px) {

  .Sidebar{
    position:fixed;
    height: 100%;
    max-width: 70%;
    z-index: 300;
    height: 100%;
    position: fixed;
    width: 70%;
    left: -100%;
    top: 0;
    transition: 850ms;
  }
  
  .Sidebar.active{
    left: 0;
    transition: 350ms;
  }

  .togglebar{
    display: block !important;
    
  }
  

 }

